.bg-image {
  /* The image used */
  background-image: url("");

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: ;
  border: 2px solid #f1f1f1;
  position: absolute;
  transform: translate(25%, -130%);
  z-index: 1;
  width:100%;
  padding-top: ;
  padding:100px;
  text-align: center;
}
.welcome {
  color: white;
  position: absolute;
  transform: translate(30%, -370%);
  z-index: 1;
  width:%;
  height: 10%;
  padding-top: ;
  padding:100px;
  text-align: center;
}